@{
    ViewBag.Title = "Contact";
}

<h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">CONTACT</h2>

<address>
    Monash Univeristy
    Caulfield
    Melbourne, VIC
</address>

<address>
    <strong>Contact Me:</strong>   <a href="nkes0001@student.monash.edu">nkes0001@student.monash.edu</a><br />
</address>