
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Documentation Page</h2>
</div>

<div class="row">

    <div class="col-md-12" style="color:white ; background-color:black">
        <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> AUTHOR DETAILS</h3>
    </div>
</div>
<div class="table" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    <div class="row">
        <div class="col-xs-6">
            <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Name :</h4>
        </div>
        <div class="col-xs-3">
            <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Novi Kesumaningtyas</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Student ID :</h4>
        </div>
        <div class="col-xs-3">
            <h4> 27897176</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4>Unit's Name :</h4>
        </div>
        <div class="col-xs-3">
            <h4>FIT5032 Internet applications development</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4>Unit's Provider :</h4>
        </div>
        <div class="col-xs-3">
            <h4>Monash University, The Caulfield School of Information Technology</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4>Task Number :</h4>
        </div>
        <div class="col-xs-3">
            <h4>Credit Task 5.3 Credit Code File</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4>Tutor's Name :</h4>
        </div>
        <div class="col-xs-3">
            <h4>Thej Wedikkara Arachchi</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4>Tutor's Email :</h4>
        </div>
        <div class="col-xs-3">
            <h4>Thej.WedikkaraArachchi@monash.edu</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4>Task Specification :</h4>
        </div>
        <div class="col-xs-3">
            <h4>http://moodle.vle.monash.edu/mod/page/view.php?id=4154651</h4>
        </div>
    </div>
</div>
<div class="table" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    <div class="row">
        <div class="col-md-12" style="color:white ; background-color:black">
            <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> IMAGE DETAILS</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                <h3> IMAGE </h3>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="text-center">
                <h3> AUTHOR/SOURCE </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                <br /><br />
                <img src="~/picture/pic2.1.jpg" width="150" height="100" />
            </div>
        </div>
        <div class="col-xs-6">
            <br /><br />
            <p>
                www.google.com.au/imgres?imgurl=http%3A%2F%2Fimages.wisegeek.com%2Fpile-of-
                newspapers.jpg&imgrefurl=http%3A%2F%2Fwww.wisegeek.com%2Fwhat-is-a-news-editor.
                htm&docid=AtG0Jg9OL1CX6M&tbnid=jn6dfgbJywbfzM%3A&vet=10ahUKEwjdoPzrhY3WAhUIvLwK
                HaBnCx4QMwgmKAEwAQ..i&w=1000&h=650&bih=566&biw=1280&q=pile%20news%20articles&ved
                =0ahUKEwjdoPzrhY3WAhUIvLwKHaBnCx4QMwgmKAEwAQ&iact=mrc&uact=8
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                <img src="~/picture/pic6.png" width="150" height="100" />
            </div>
        </div>
        <div class="col-xs-6">
            <p>
                https://www.google.com.au/imgres?imgurl=https%3A%2F%2Fgerrynutt.files
                .wordpress.com%2F2014%2F11%2Fbad-news-logo.jpg&imgrefurl=https%3A%2F%2
                Fthelowellcurmudgeon.com%2F2014%2F11%2F05%2Fmore-bad-economic-development
                -news%2Fbad-news-logo%2F&docid=ccBZ-GmYKe1pTM&tbnid=phjwpShFedkGIM%3A&vet
                =10ahUKEwiXmfWO043WAhWixVQKHdZ8C_QQMwiSAig-MD4..i&w=1484&h=562&bih=769&biw
                =1600&q=news%20logo&ved=0ahUKEwiXmfWO043WAhWixVQKHdZ8C_QQMwiSAig-MD4&iact=
                mrc&uact=8#h=562&imgdii=2EEXfTgrZkOQVM:&vet=10ahUKEwiXmfWO043WAhWixVQKHdZ8C_
                QQMwiSAig-MD4..i&w=1484
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                <img src="~/picture/pic8.1.jpg" width="150" height="100" />
            </div>
        </div>
        <div class="col-xs-6">
            <p>
                https://www.google.com.au/imgres?imgurl=https%3A%2F%2Fwww.thesun.co.uk%2
                Fwp-content%2Fuploads%2F2017%2F05%2Fnintchdbpict000320702350.jpg%3Fstrip%
                3Dall%26w%3D960&imgrefurl=https%3A%2F%2Fwww.thesun.co.uk%2Fnews%2F3455166%
                2Fmay-day-riots-paris-marine-le-pen-supporters-clash-french-election%2F&doc
                id=vTekfWzUfqoKNM&tbnid=rOvUa97ga-XMhM%3A&vet=10ahUKEwish92n7o3WAhUCr1QKHUd
                tBbgQMwj5ASgEMAQ..i&w=960&h=630&bih=707&biw=1600&q=riot&ved=0ahUKEwish92n7o3
                WAhUCr1QKHUdtBbgQMwj5ASgEMAQ&iact=mrc&uact=8
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                <img src="~/picture/pic9.jpg" width="150" height="100" />

            </div>
        </div>
        <div class="col-xs-6">
            <p>
                https://www.theodysseyonline.com/calling-global-world-peace
                <br /><br /><br /><br /><br /><br /><br />
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                <img src="~/picture/pic10.jpg" width="150" height="100" />
            </div>
        </div>

        <div class="col-xs-6">
            <p>
                https://www.google.com.au/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=
                0ahUKEwie4s-A743WAhUU9GMKHVolDzQQjhwIBQ&url=https%3A%2F%2Fwww.crs.org%2F
                media-center%2Fon-syrian-refugees-we-help-people-because-we-are-catholic
                &psig=AFQjCNFpgyDYYz3UlAUSgwwouYRngLPwdA&ust=1504694759630046
                <br /><br /><br /><br />
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                <img src="~/picture/pic12.jpg" width="150" height="100" />
            </div>
        </div>

        <div class="col-xs-6">
            <p>
                https://www.google.com.au/search?q=journalists&rlz=1C1CHBD_en-GBAU738AU738
                &source=lnms&tbm=isch&sa=X&ved=0ahUKEwiTnqDt9o3WAhUBvrwKHZbACg4Q_AUICigB&b
                iw=1600&bih=707#imgrc=50WkRHQUa_Fd5M:
                <br /><br /><br /><br />

            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                <img src="~/picture/pic13.jpg" width="150" height="100" />
            </div>
        </div>

        <div class="col-xs-6">
            <p>
                https://www.google.com.au/imgres?imgurl=http%3A%2F%2Fimg.theepochtimes.com
                %2Fn3%2Feet-content%2Fuploads%2F2017%2F05%2F03%2Fshutterstock_459100483.jpg
                &imgrefurl=http%3A%2F%2Fwww.theepochtimes.com%2Fn3%2F2246359-how-to-give-your
                -kids-a-happy-childhood%2F&docid=YFL6w6Ud1BbqmM&tbnid=maLJLP56wB1v6M%3A&vet=
                10ahUKEwiX8-Dv-Y3WAhXHx1QKHdzfCLI4ZBAzCAUoAzAD..i&w=4500&h=3000&bih=707&biw=
                1600&q=kids%20happy&ved=0ahUKEwiX8-Dv-Y3WAhXHx1QKHdzfCLI4ZBAzCAUoAzAD&iact=mrc&uact=8

            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                <img src="~/picture/pic15.jpg" width="150" height="100" />
            </div>
        </div>

        <div class="col-xs-6">
            <p>
                https://www.google.com.au/search?rlz=1C1CHBD_en-GBAU738AU738&biw=1600&bih=
                769&tbm=isch&sa=1&q=fire&oq=fire&gs_l=psy-ab.3..0i67k1l4.288285.288825.0.
                288962.4.4.0.0.0.0.209.397.0j1j1.2.0....0...1.1.64.psy-ab..2.2.396...0._WsJ
                dwEyiTA#imgrc=zRku3avi9pG_tM:

            </p>
        </div>
    </div>

</div>