
@{
    ViewBag.Title = "Success";
}
<h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Your article has been successfully created</h4>
<br />
<li>@Html.ActionLink("Go to Articles", "Index", "Articles")</li>

